
<p> total stores in database <strong> <%=count%></strong></p>

  <form method="POST" action = "/register">
  <input type="text" name="decibel" placeholder="Enter decibel level"><br>
  <input type="text" name= "time" placeholder="Enter time ">
  <button >Submit</button>
  </form>
